#messages {
	list-style-type: none;
	height: 390px;
	overflow-y: scroll;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
}

.MyMessage {
	all: revert;
	color: #bababa;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-size: 16px;
	max-width: 230px;
	#max-height: 1300px;
	text-wrap: wrap;
	background: #1f1f1f;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	word-break: break-word;
}

.MyMessage p {
	all: revert;
	text-align: left;
	margin: 10px;
}
.OtherMessage {
	color: #bababa;
	margin-bottom: 10px;
	font-size: 16px;
	box-sizing: border-box;
	max-width: 230px;
	max-height: 1300px;
	text-wrap: wrap;
	background: #830ef7;
	flex-wrap: wrap;
	display: flex;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	word-break: break-word;
	position: relative;
	left: 85px;

}

.OtherMessage p {
	all: revert;
	text-align: left;
	margin: 10px;
}

.position-container {
	position: fixed;
	top: 20vh;
	z-index: 999;
	left: 75vw;
	width: 350px;
	background: linear-gradient(
		353deg,
		rgb(0 0 0) 0%,
		rgb(62 4 127) 87%,
		rgba(124, 1, 246, 1) 100%
	);
	height: 640px;
	border-radius: 20px;
	border: 1px solid black;
}

.position-container #fileInput {
	position: relative;
	left: 1000px;
	visibility: hidden;
}

.position-container img {
	all: revert;
	width: 30px;
	height: 30px;
}

.inputs-container {
	display: flex;

	width: 95%;
}

.position-container form {
	all: revert;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 10px;
}

.form-container {
	position: absolute;
	top: 543px;
	height: 100px;
	width: 350px;
	left: 0px;
	display: flex;
	background: radial-gradient(
		2430.67% 145.26% at -8.97% 88.24%,
		rgb(31, 31, 31) 0%,
		rgb(31, 31, 31) 100%
	);
	align-items: center;
	border-radius: 0px 0px 20px 20px;
}

#messageText {
	border-radius: 10px;
	padding: 8px 20px;
	width: 215px;
	height: 50px;
	color: #bababa;
	background: #272626;
}

.fileInputLabel {
	margin-right: 5px;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	align-items: center;
}

.position-container ul {
	all: revert;
	padding-inline-start: 0px;
}

.sendButton {
	background: radial-gradient(
		2430.67% 145.26% at -8.97% 88.24%,
		rgb(31, 31, 31) 0%,
		rgb(31, 31, 31) 100%
	);
	width: 30px;
	height: 30px;
	margin-left: 7px;
	margin-top: 5px;

	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headercontainer {
	padding: 2px 10px;
	box-sizing: border-box;
	width: 350px;
	height: 140px;
	border-radius: 19px 20px 0px 0px;
	background: linear-gradient(40deg, #1f1f1f 0%, #1f1f1f 100%);
}
.headercontainer > h3 {
	all: revert;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	color: #c8c8c8;

}
.secondheader {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	height: 83px;
}
.secondheader > img {
	all: revert;
	width: 45px;
	height: 45px;
	margin-right: 8px;
}
.secondheader > div > h3 {
	all: revert;
	margin-bottom: 0;
	color: #c8c8c8;
}
.secondheader > div > p {
	all: revert;
	margin-top: 5px;
	color: #c8c8c8;
}
#ws-id {
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	color: #c8c8c8;
}

#messages::-webkit-scrollbar {
	width: 0;
}

#messages {
	-ms-overflow-style: none;
}

#messages {
	overflow: -moz-scrollbars-none;
}

.OtherMessage > div > span {
	all: revert;
	position: relative;
}

.OtherMessage > div {
	all: revert;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

.downloadButton {
	width: 120px;
	border: 0px;
	display: inherit;
	justify-content: center;
	align-items: center;
	height: 20px;
	border-radius: 20px;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	margin: 5px;
}


.container_for_img {
	position: fixed;
	top: 85%;
	left: 80%;
}
.container_for_img > img {
	all: revert;
	width: 50px;
	height: 50px;
}
.admin_header {
	position: relative;
	text-align: right;
	margin-bottom: 5px;
	font-size: 12px;
	color: #bababa;
}

.position-container input[type="text"] {
    border-radius: 10px;
    padding: 8px 20px;
    width: 246px;
    height: 50px;
	border-top-color: #919191;
    border-left-color: #919191;
    color: #bababa;
    background: #272626;

}

