<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/styles.css" />
		<title>Admin</title>
	</head>
	<body>
        <table>
            <tr>
                <td>
                    <div id="container">
                        <div class="position-container">
                            <div class="headercontainer">
                                <h3>Chats <span id="ws-id"></span></h3>
                            </div>
                        <div id='chats' >
                        </div>
                    </div>
                </td>
                <td style="vertical-align:top">
                    <div id="state"></div>
                </td>
            </tr>
        </table>




		<script src="static/main.js/${TOKEN}"></script>
	</body>
</html>
