#messages {
	list-style-type: none;
	height: 500px;
	overflow-y: scroll;
	padding-left: 28px;
	padding-right: 28px;
	padding-top: 20px;
}
.MyMessage {
	color: #bababa;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-size: 16px;
	max-width: 230px;
	#max-height: 1300px;
	text-wrap: wrap;
	background: #1f1f1f;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	word-break: break-word;
}

.MyMessage p {
	margin: 10px;
}
.OtherMessage {
	color: #bababa;
	margin-bottom: 10px;
	font-size: 16px;
	box-sizing: border-box;
	max-width: 230px;
	max-height: 1300px;
	text-wrap: wrap;
	background: #830ef7;
	flex-wrap: wrap;
	display: flex;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	word-break: break-word;
	position: relative;
	left: 85px;

}

.OtherMessage > div > span {
	position: relative;
}

.OtherMessage > div {
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

.downloadButton {
	width: 120px;
	border: 0px;
	display: inherit;
	justify-content: center;
	align-items: center;
	height: 20px;
	border-radius: 20px;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	margin: 5px;
}

.BackArrow {
	margin-left: 15px;
}

.OtherMessage p {
	margin: 10px;
}
.position-container {
	z-index: 999;
	width: 390px;
	background: linear-gradient(
		353deg,
		rgb(0 0 0) 0%,
		rgb(62 4 127) 87%,
		rgba(124, 1, 246, 1) 100%
	);
	height: 740px;
	border-radius: 20px;
	border: 1px solid black;
}
#fileInput {
	position: relative;
	left: 1000px;
	visibility: hidden;
}
h3 {
	text-align: center;
}
img {
	width: 30px;
	height: 30px;
}
.inputs-container {
	display: flex;

	width: 95%;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 10px;
}
.form-container {
	position: absolute;
	top: 648px;
	height: 100px;
	width: 390px;

	display: flex;

	background: radial-gradient(
		2430.67% 145.26% at -8.97% 88.24%,
		rgb(31, 31, 31) 0%,
		rgb(31, 31, 31) 100%
	);
	align-items: center;
	border-radius: 0px 0px 20px 20px;
}
#messageText {
	border-radius: 10px;
	padding: 8px 20px;
	width: 246px;
	height: 50px;
	color: #bababa;
	background: #272626;
}
.fileInputLabel {
	margin-right: 5px;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	align-items: center;
}
button {
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	padding-inline-start: 0px;
}
.sendButton {
	background: radial-gradient(
		2430.67% 145.26% at -8.97% 88.24%,
		rgb(31, 31, 31) 0%,
		rgb(31, 31, 31) 100%
	);
	width: 30px;
	height: 30px;
	margin-left: 7px;
	margin-top: 5px;
}

.headercontainer {
	padding: 11px 10px;
	box-sizing: border-box;
	width: 390px;
	height: 112px;
	border-radius: 20px 20px 0px 0px;
	background: linear-gradient(40deg, #1f1f1f 0%, #1f1f1f 100%);
}
#ws-id {
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	color: #c8c8c8;
}
h3 {
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	color: #c8c8c8;
}
/* хром, сафари */
#messages::-webkit-scrollbar {
	width: 0;
}

/* ie 10+ */
#messages {
	-ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
#messages {
	overflow: -moz-scrollbars-none;
}
.OtherMessage > button {
	width: 120px;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	height: 40px;
	border-radius: 20px;
	background-color: #ffffff;
	font-size: 20px;
	font-weight: 500;
}
.MyMessage > button {
	width: 120px;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	height: 40px;
	border-radius: 20px;
	background-color: #830ef7;
	font-size: 20px;
	font-weight: 500;
}

.user-div {
	padding-left: 7px;
	height: 89px;
	width: 326px;
	display: flex;
	box-sizing: border-box;
	background: #830ef7;
	margin: 25px auto;
	border-radius: 20px;
	align-items: center;
}
.Inner_chats_text {
	display: flex;
	background: #fff;
	height: 70px;
	width: 150px;
	border-radius: 20px;
	align-items: center;
	font-weight: 700;
	justify-content: center;
}
#chats::-webkit-scrollbar {
	width: 0;
}

/* ie 10+ */
#chats {
	-ms-overflow-style: none;
	overflow-y: scroll;

	height: 639px;
}

#chats {
	overflow: -moz-scrollbars-none;
}

.admin_header {
	position: relative;
	text-align: right;
	margin-bottom: 5px;
	font-size: 12px;
	color: #bababa;
}